* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace; /* Keep unique font choice */
    font-size: 0.85rem;
    line-height: 1.3rem;
    color: #000;
    background-color: #FBFBFB;
}

/* Links */
a {
    color: #005C9C;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/* Main Content */
.main-content {
    margin: 0 auto;
    padding: 2rem 1rem;
    max-width: 42rem;
}
@media screen and (min-width: 42em) {
    .main-content {
        padding: 4rem 6rem;
        max-width: 48rem;
    }
}

.main-content p {
    margin: 1.5rem 0;
}

.main-content strong {
    font-weight: normal;
    border-bottom: 2px solid indianred;
}

/* Lists */
.main-content ul {
    margin: 0;
    padding-left: 1rem;
}
.main-content ul li {
    margin: 0.5rem 0;
    line-height: 1.5rem;
}

/* Headings */
h2 {
    margin: 1rem 0;
    font-size: 1rem;
}
h2 span {
    font-size: 0.8rem;
    color: #bbb;
    font-weight: normal;
}

/* Horizontal Rule */
hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 1rem 0;
}

/* Navigation Links */
a.nav {
    margin: 2rem 0;
    display: block;
    font-weight: bold;
}
a.nav:hover {
    text-decoration: underline;
}

/* Date Styling */
.date {
    color: #bbb;
    font-weight: bold;
    font-size: 12px;
    display: inline-block;
    margin-right: 10px;
}

/* Posts */
.post {
    line-height: 1.7rem;
}
.post img {
    width: 100%;
}
